<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mexico City Air Pollution</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>

  <!-- D3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
 

  <!-- Marker Cluster JS & CSS -->
  <script type="text/javascript"
    src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
  <link rel="stylesheet" type="text/css"
    href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style2.css">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin=""></script>
   <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
  <!-- <script src="leaflet-timeline-slider.min.js"></script> -->


</head>

<body>
  <nav class="navbar navbar-expand-md bar">
    <div class='container-fluid bar'>
      <div class='navbar-header bar'>
        <a class='navbar-brand bar' href="index.html">
          <img class="nav-panda" height="30" src="../static/images/panda-svg.svg">Mexico City Air Pollution and
          Respiratory Emergencies
        </a>
      </div>
      <span class="navbar-text">
        Panditas Matploteros
      </span>

    </div>

  </nav>

  <h1>Contaminant concentration</h1>





  <!-- The div where we will inject our map -->
  <div id="map"></div>



  <!-- Leaflet heatmap plugin-->
  <script type="text/javascript" src="../static/js/leaflet-heat.js"></script>
  <script type="text/javascript" src="../static/js/leaflet.extra-markers.min.js"></script>

  <!-- API key -->
  <script type="text/javascript" src="../static/js/config.js"></script>
  <!-- JS -->
  <script type="text/javascript" src="../static/js/heatmap_IDW.js"></script>



  <div>
    <p>Select Contaminant</p>


    <div class="filter list-group-item">
      <label for="contaminant">Ozone (O3) trial</label>
      <select id="selContaminant" onchange="getData(this.value)">
      <!-- <select id="selContaminant"> -->

        <option value="PM10">Particulate Matter < 10&micro;m (PM<sub>10</sub>)</option>

      </select>
    </div>
    <!-- <button id="filter-btn" type="submit" class="btn btn-default">Change</button> -->


  </div>

</body>

</html>
