<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Map</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Leaflet -->
          <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
          <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
          integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
          crossorigin=""></script>

          <!-- D3 -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.min.js"></script>
          <script src="https://d3js.org/d3.v4.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

          <!-- Markers JS & CSS -->
          <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
          <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
          <link rel="stylesheet" href="../static/css/leaflet.extra-markers.min.css">
          <!--
          <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
          <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
          -->
          <!-- Icons -->
          <script src="../static/js/leaflet.extra-markers.min.js"></script>

  <!-- Fonts, icons -->
  <link rel="stylesheet" href="../static/res/fontawesome-free/css/all.min.css" type="text/css">

  <!-- CSS -->
  <link rel="stylesheet" href="../static/css/style_cdmx_s.css">
  <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>

  <!-- Navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a href="/">
          <img class="navbar-brand" src="../static/images/google-panda-circular-symbol.svg"></img>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="overview">Project Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/data">Data</a>
          </li>
          <li class="nav-item activado">
            <a class="nav-link" href="/visualizations">Visualizations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/team">Team</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../static/images/img2.png')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Mexico City: Air Quality Index</h1>
            <span class="subheading">Pollutants Concentration by Municipality</span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <div id="mapa"></div>
  <script src="../static/js/cdmx.js"></script>
  <script src="../static/js/config.js"></script>
  <script src="../static/js/stations.js"></script>


  <!-- Footer -->
  <footer style="margin-top:50px; ">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
      </div>
    </div>
  </footer>

</body>

</html>
