<!DOCTYPE html>
<html lang="en">
<head>
<title> Team Members </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="shortcut icon" href="static/images/favicon.ico">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="static/css/bootstrap.min.css">
<!-- Fontawesome CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css">
<!-- Fonts and icons -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700" rel="stylesheet"> 
<!-- Reset CSS -->
<link rel="stylesheet" href="static/css/reset.css">
<!-- Style CSS -->
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="static/css/style_team.css">
<!-- Responsive  CSS -->
<link rel="stylesheet" href="static/css/responsive.css">

<!-- Fonts, icons -->
<link rel="stylesheet" href="static/res/fontawesome-free/css/all.min.css" type="text/css">

</head>
<body>

	<!-- Navigation bar
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
			<div class="container">
			  <a href="/">
				  <img class="navbar-brand" src="../static/images/google-panda-circular-symbol.svg"></img>
			  </a>
			  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				Menu
				<i class="fas fa-bars"></i>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
				  <li class="nav-item">
					<a class="nav-link" href="overview">Project Overview</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/data">Data</a>
				  </li>
				  <li class="nav-item activado">
					<a class="nav-link" href="/visualizations">Visualizations</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">Team</a>
				  </li>
				</ul>
			  </div>
			</div>
		  </nav> -->

          <a href="index.html" class="img-menu">
            <img src="img/google-panda-circular-symbol.svg" alt="" >
          </a>
    
    <div class="area">
        <label for="menu-hamburguesa" class="lbl">
          <span></span>
          <span></span>
          <span></span>
        </label>
  
    </div>
  
    <input type="checkbox" class="check" id="menu-hamburguesa">
      
      
    <div class="lista">
      <a href="overview.html" >Project Overview</a>
      <a href="plots.html" >Plots</a>
      <a href="data.html" >Data</a>
      <a href="#" >Team</a>
    </div>



		<div class="team-main">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h2 class="title-wb">Our Team: Panditas-Matploteros</h2>
					</div>
				</div>

		<div class="row justify-content-center">
			<div class="col-lg-3 col-md-6 col-sm-6 col-12">
				<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
					<div class="flip-team">
						<div class="front-A h-100">
							<div class="card profile-card-5 bor-no" data-image-src="../static/images/sm.jpg">
								<div class="social-line">
									<ul>
										<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fab fa-github"></i></a></li>	
									</ul>
								</div>
								<div class="text-content">
									<h3> Sandra Mejía </h3>
									<p>Environmental Engineer</p>
								</div>
								<div class="filter"></div>
							</div>
						</div>
						<div class="back-b h-100">
							<div class="card bor-no">
								<h4 class="card-title"> Sandra Mejía </h4>
								<p>Environmental Engineer</p>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit quisquam veniam excepturi temporibus inventore corporis dicta sit culpa veritatis placeat earum, dolorum asperiores, delectus dolore voluptatibus, at magnam nobis! </p>
								<ul class="list-inline">
									<li class="list-inline-item">
										<a class="social-icon text-xs-center" target="_blank" href="#">
											<i class="fab fa-linkedin"></i>
										</a>
									</li>
									<li class="list-inline-item">
										<a class="social-icon text-xs-center" target="_blank" href="https://github.com/SandraMejia">
											<i class="fab fa-github"></i>
										</a>
									</li>									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			
					
			<!-- CHRIS -->
			<div class="col-lg-3 col-md-6 col-sm-6 col-12">
				<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
					<div class="flip-team">
						<div class="front-A h-100">
							<div class="card profile-card-5 bor-no" data-image-src="../static/images/team-03.jpg">
								<div class="social-line">
									<ul>
										<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fab fa-github"></i></a></li>	
									</ul>
								</div>
								<div class="text-content">
									<h3> Christopher Miranda </h3>
									<p>Pharmaceuticals</p>
								</div>
								<div class="filter"></div>
							</div>
						</div>
						<div class="back-b h-100">
							<div class="card bor-no">
								<h4 class="card-title"> Christopher Miranda </h4>
								<p>Pharmaceuticals</p>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit quisquam veniam excepturi temporibus inventore corporis dicta sit culpa veritatis placeat earum, dolorum asperiores, delectus dolore voluptatibus, at magnam nobis! </p>
								<ul class="list-inline">
									<li class="list-inline-item">
										<a class="social-icon text-xs-center" target="_blank" href="#">
											<i class="fab fa-linkedin"></i>
										</a>
									</li>
									<li class="list-inline-item">
										<a class="social-icon text-xs-center" target="_blank" href="https://github.com/Chisllan">
											<i class="fab fa-github"></i>
										</a>
									</li>									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			
			<!-- HECTOR -->
			<div class="col-lg-3 col-md-6 col-sm-6 col-12">
				<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
					<div class="flip-team">
						<div class="front-A h-100">
							<div class="card profile-card-5 bor-no" data-image-src="../static/images/hhpg.jpg">
								<div class="social-line">
									<ul>
										<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fab fa-github"></i></a></li>	
									</ul>
								</div>
								<div class="text-content">
									<h3> Héctor Padilla </h3>
									<p>Electronics Systems</p>
								</div>
								<div class="filter"></div>
							</div>
						</div>
						<div class="back-b h-100">
							<div class="card bor-no">
								<h4 class="card-title"> Héctor Padilla </h4>
								<p>Electronic Systems</p>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit quisquam veniam excepturi temporibus inventore corporis dicta sit culpa veritatis placeat earum, dolorum asperiores, delectus dolore voluptatibus, at magnam nobis! </p>
								<ul class="list-inline">
									<li class="list-inline-item">
										<a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/hhpg-3ab22361/">
											<i class="fab fa-linkedin"></i>
										</a>
									</li>
									<li class="list-inline-item">
										<a class="social-icon text-xs-center" target="_blank" href="https://github.com/hekutoru-dev">
											<i class="fab fa-github"></i>
										</a>
									</li>									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>

		<div class="row justify-content-center">			

			<!-- LIZETTE -->
			<div class="col-lg-3 col-md-6 col-sm-6 col-12">
				<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
					<div class="flip-team">
						<div class="front-A h-100">
							<div class="card profile-card-5 bor-no" data-image-src="../static/images/team-07.jpg">
								<div class="social-line">
									<ul>
										<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fab fa-github"></i></a></li>											
									</ul>
								</div>
								<div class="text-content">
									<h3> Lizette Gonzalez </h3>
									<p>Finance</p>
								</div>
								<div class="filter"></div>
							</div>
						</div>
						<div class="back-b h-100">
							<div class="card bor-no">
								<h4 class="card-title"> Lizette Gonzalez </h4>
								<p>Finance</p>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit quisquam veniam excepturi temporibus inventore corporis dicta sit culpa veritatis placeat earum, dolorum asperiores, delectus dolore voluptatibus, at magnam nobis! </p>
								<ul class="list-inline">
									<li class="list-inline-item">
										<a class="social-icon text-xs-center" target="_blank" href="#">
											<i class="fab fa-linkedin"></i>
										</a>
									</li>
									<li class="list-inline-item">
										<a class="social-icon text-xs-center" target="_blank" href="https://github.com/LZT2K20">
											<i class="fab fa-github"></i>
										</a>
									</li>									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- MARIBEL OJEDA -->
			<div class="col-lg-3 col-md-6 col-sm-6 col-12">
				<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
					<div class="flip-team">
						<div class="front-A h-100">
							<div class="card profile-card-5 bor-no" data-image-src="../static/images/mog.jpg">
								<div class="social-line">
									<ul>										
										<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fab fa-github"></i></a></li>										
									</ul>
								</div>
								<div class="text-content">
									<h3> Maribel Ojeda </h3>
									<p>Intelligent Systems</p>
								</div>
								<div class="filter"></div>
							</div>
						</div>
						<div class="back-b h-100">
							<div class="card bor-no">
								<h4 class="card-title"> Maribel Ojeda </h4>
								<p>Intelligent Systems</p>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit quisquam veniam excepturi temporibus inventore corporis dicta sit culpa veritatis placeat earum, dolorum asperiores, delectus dolore voluptatibus, at magnam nobis! </p>
								<ul class="list-inline">
									<li class="list-inline-item">
										<a class="social-icon text-xs-center" target="_blank" href="#">
											<i class="fab fa-linkedin"></i>
										</a>
									</li>
									<li class="list-inline-item">
										<a class="social-icon text-xs-center" target="_blank" href="https://github.com/ogmaribel">
											<i class="fab fa-github"></i>
										</a>
									</li>									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>

		<div class="row">
			<div class="col-lg-12">

			</div>
		</div>
		
	</div> <!-- CONTAINER -->
</div>

<!-- jquery latest version -->
<script src="../static/js/jquery.min.js"></script>
<!-- popper.min.js -->
<script src="../static/js/popper.min.js"></script>    
<!-- bootstrap js -->
<script src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(".card").css('background', function () {
		var bg = ('url(' + $(this).data("image-src") + ') no-repeat center center');
		return bg;
	});
</script>
</body>
</html>