body {
    padding: 0;
    margin: 0;
}

body,html {
    height: 100%;
}

#mapa {
    height: 100%;
}

/* Used for townhalls.html & townhalls.css */
.row{
    height: 100%;
}

#mapa-townhalls {
    height: 290%;
}

.container {
    padding-left: 20px;
    margin-left: 20px;
    height: 300%;
}

